<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reno.philipshue" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:networkSecurityConfig="@xml/network_security_config">
        <provider
            android:name="com.reno.philipshue.di.PhilipsHueContentProvider"
            android:authorities="${applicationId}.philipshuecontentprovider"
            android:exported="false"
            android:initOrder="100" />
    </application>

</manifest>
